{% extends 'app.html' %}

{% block title %}
Registro Usuarios | Inventario
{% endblock title %}
{% block content %}

{% load static %}


{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock estilos %}

{% load crispy_forms_tags %}

<form action="" method="post">
    <style>
        body{
            background-color: #f5f5f5;
        }
    </style>
    <div class="card w-50 m-auto my-4 shadow">
        <h1 class="mt-5 text-center green fw-bolder">Creación de Cuentas</h1>
        <div class="card-body p-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 my-3" id="adders" >Registrarse</button>
        </div>
    </div>

</form>


{% endblock content %}

