{% extends 'app.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block estilos %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock estilos %}

{% block content %}

<header class="p-3 text-bg-dark shadow">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'gestion_administrador' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none mx-3">
          <img src="{% static 'img/brand.png' %}" class="img-fluid me-2" alt="" width="180">
        </a>
  
        <ul class="ms-5 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        </ul>
          <p class="nav-link px-2 text-white mt-3 mx-3">Bienvenido a Neteams | Empleado:   <span class="fw-bolder">{{username}}</span></p>
          <a name="" id="adders" class="btn btn-primary" href="{% url 'cerrar_sesion' %}" role="button"><i class="fa-solid fa-right-from-bracket text-white me-3"></i>Cerrar sesión</a>
        </div>
      </div>
    </div>
</header>
<div class="container-fluid my-4">
    <h1 class="fw-bolder text-center my-3">Tareas sin Completar</h1>
    <div class="container-fluid  d-flex flex-wrap">
        {% if tareas %}
        {% for tarea in tareas  %}
        <div class="card text-center shadow mt-5 col-md-4 mx-3 mb-3" style="width: 47.3%;">
          <div class="card-body">
            <h1 class="card-title mb-3 fw-bolder fs-4 text-">Tarea | {{tarea.nombre}}</h1>
            <hr>
            <p class="card-text"><span class="fw-bolder">Descripcion:</span>  {{tarea.descripcion}}</p>
            <hr>
            <p class="card-text"><span class="fw-bolder">Plazo Máximo: </span>{{tarea.plazo_maximo}}</p>
            <p class="card-text"><span class="fw-bolder">Fecha de Creación:</span> {{tarea.created_at}}</p>
            <p class="card-text"><span class="fw-bolder">Fecha de Actualización:</span> {{tarea.updated_at}}</p>
            <p class="card-text"><span class="fw-bolder">Completado: </span> {{tarea.completado}}</p>
          </div>
          <a name="" id="" class="btn btn-success w-75 text-center m-auto my-4 fs-6" href="{% url 'marcar_completado' tarea.id %}" role="button"><i class="bi bi-check2-square mx-3 text-white"></i>Marcar Completado</a>
        </div>
        {% endfor %}
        {% else %}
        <div class="card text-start nav-light text-dark w-100 my-4" style="border-radius: 35px">
          <div class="card-body">
            <h1 class="card-title mb-3 fw-semibold text-danger fs-4 text-center m-auto p-3 text-dark"><i class="fa-solid fa-list-check mx-3 text-dark"></i>No hay tareas por completar.</h1>
          </div>
        </div>
        {% endif %}
    </div>    
    <h1 class="fw-bolder text-center my-3">Tareas Completadas</h1>
    <div class="container-fluid  d-flex flex-wrap">
        {% if notareas %}
        {% for tarea in notareas  %}
        <div class="card bg-dark text-white text-center shadow mt-5 col-md-4 mx-3 mb-3" style="width: 47.3%">
          <div class="card-body">
            <h1 class="card-title mb-3 fw-bolder fs-2 text-white">Tarea | {{tarea.nombre}}</h1>
            <hr>
            <p class="card-text"><span class="fw-bolder">Descripcion:</span>  {{tarea.descripcion}}</p>
            <hr>
            <p class="card-text"><span class="fw-bolder">Plazo Máximo: </span>{{tarea.plazo_maximo}}</p>
            <p class="card-text"><span class="fw-bolder">Fecha de Creación:</span> {{tarea.created_at}}</p>
            <p class="card-text"><span class="fw-bolder">Fecha de Actualización:</span> {{tarea.updated_at}}</p>
            <p class="card-text"><span class="fw-bolder">Completado: </span> {{tarea.completado}}</p>
          </div>
          <a name="" id="" class="btn btn-dark w-75 text-center m-auto my-4 fs-6" href="#" role="button"><i class="bi bi-check-circle-fill mx-3 text-white"></i>Tarea Completada</a>
        </div>
        {% endfor %}
        {% else %}
        <div class="card text-start bg-dark w-100 my-4" style="border-radius: 35px;">
            <div class="card-body">
              <h1 class="card-title mb-3 fw-semibold text-danger fs-4 text-center m-auto p-3 text-white"><i class="bi bi-chat-right-dots mx-3 text-white"></i></i>No hay tareas completadas.</h1>
            </div>
          </div>
        {% endif %}

    </div>

</div>
{% endblock content %}

